@model SignUpModel
<form asp-action="CreateUser" asp-controller="Admin" method="post">
    <input asp-for="Username" placeholder="Username" />
    <input asp-for="Password" type="password" placeholder="Password" />
    <input asp-for="Email" type="email" placeholder="Email" />
    <input asp-for="Phone" placeholder="Phone" />
    <select name="role">
        <option value="User">User</option>
        <option value="Manager">Manager</option>
        <option value="Admin">Admin</option>
    </select>
    <button type="submit">Create</button>
</form>