@using Microsoft.AspNetCore.Identity
@model IdentityUser

@{
    Layout = "_AdminLayout";
}

<form asp-action="EditUser" asp-controller="Admin" method="post">
    <div class="form-group">
        <input asp-for="UserName" placeholder="Username" class="form-control-sm" />
    </div>
    <div class="form-group">
        <input asp-for="Email" type="email" placeholder="Email" class="form-control-sm" />
    </div>
    <div class="form-group">
        <input asp-for="PhoneNumber" placeholder="Phone" class="form-control-sm" />
    </div>

    <div class="form-group">
        <select name="role" class="form-control-sm">
            <option value="User">User</option>
            <option value="Manager">Manager</option>
            <option value="Admin">Admin</option>
        </select>
    </div>
    <button class="btn btn-outline-dark" type="submit">Edit</button>
</form>