@model Pizza
@{
//Model.Prices = new List<Price> {
//    new Price {
//        Pizza = Model,
//        SizePrice = 0,
//        Size = Size.S
//    },
//    new Price {
//        Pizza = Model,
//        SizePrice = 0,
//        Size = Size.M
//    },
//    new Price {
//        Pizza = Model,
//        SizePrice = 0,
//        Size = Size.L
//    },
//    new Price {
//        Pizza = Model,
//        SizePrice = 0,
//        Size = Size.XL
//    }
//};
}
<form asp-action="CreatePizza" asp-controller="Pizza" method="post">
    <label>Name</label>
    <input asp-for="Name" />
    <label>Description</label>
    <input asp-for="Description" />
    <label>Price for S</label>
    <input asp-for="Prices[0].SizePrice" />
    <label>Price for M</label>
    <input asp-for="Prices[1].SizePrice" />
    <label>Price for L</label>
    <input asp-for="Prices[2].SizePrice" />
    <label>Price for XL</label>
    <input asp-for="Prices[3].SizePrice" />
    <button type="submit"> Create </button>
</form>